@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.mainContainer {
  padding: 20px;
}

.productDetails {
  margin-bottom: 20px;
}

.productImage img {
  width: 100%;
  height: auto;
}

.mainContainer .productInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.productInfo h1 {
  margin-bottom: 10px;
}

.productInfo p {
  margin: 5px 0;
}

.productInfo .addToCartButton {
  margin-top: 10px;
}

.similarProducts {
  margin-top: 20px;
}

.similarProducts h2 {
  margin-bottom: 10px;
}

.noSimilarProducts {
  text-align: center;
}

.productList {
  margin-top: 20px;
}

.productCard {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
}

.productCard img {
  width: 100%;
  height: 300px !important;
}

.cardBody {
  margin-top: 10px;
}

.cardBody h5 {
  font-size: 18px;
  margin-bottom: 5px;
}

.cardBody p {
  font-size: 14px;
  margin-bottom: 10px;
}
